@font-family: 'Roboto', 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Helvetica Neue', sans-serif;
@disabled-color: @text-color;
@disabled-bg: @white;

.ant-btn::after,
.ant-radio-checked::after {
  display: none;
}

.ant-radio-input:focus+.ant-radio-inner {
  box-shadow: none;
}