@import '~antd/dist/antd.css';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-popover .ant-popover-inner-content {
  min-width: 38px;
  max-width: none;
  padding: 8px;
  text-align: left;
  background-color: #404040;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  overflow-wrap: break-word;
}

.ant-popover-placement-bottom > .ant-popover-content > div.ant-popover-arrow,
.ant-popover-placement-bottomRight > .ant-popover-content > div.ant-popover-arrow,
.ant-popover-placement-topRight > .ant-popover-content > div.ant-popover-arrow,
.ant-popover-placement-topLeft > .ant-popover-content > div.ant-popover-arrow,
.ant-popover-placement-top > .ant-popover-content > div.ant-popover-arrow {
  border-color: #404040;
}

.hidden {
  display: none;
}

.ant-btn::after,
.ant-radio-checked::after {
  display: none;
}

.ant-switch .ant-click-animating-node {
  animation: none;
}

.ant-radio-input:focus + .ant-radio-inner {
  box-shadow: none;
}

.ant-btn:focus:not(.focus-visible),
.ant-input:focus:not(.focus-visible) {
  outline: none;
}

.ant-btn-primary.focus-visible {
  color: #fff;
}

.ant-radio-input.focus-visible + .ant-radio-inner {
  outline: #5e9ed6 solid 3px;
  outline: -webkit-focus-ring-color auto 4px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.ant-btn {
  background-color: #ffffff;
  border-color: #d2d2d2;
  color: #444649;
  font-size: 14px;
  min-width: 92px;
}

.ant-btn:hover {
  background-color: #f3f3f3;
  border-color: #d2d2d2;
  color: #444649;
}

.ant-btn:active {
  background-color: #e3e5e5;
  border-color: #d2d2d2;
  color: #444649;
}

.ant-btn:disabled,
.ant-btn[disabled]:hover {
  background-color: #ffffff;
  border-color: #d2d2d2;
  color: #444649;
  opacity: 0.5;
  cursor: default;
}

.ant-btn-primary {
  background-color: #1c91dc;
  border-color: #1c91dc;
  color: #ffffff;
  font-size: 14px;
}

.ant-btn-primary:hover {
  background-color: #1384cc;
  border-color: #1384cc;
  color: #ffffff;
}

.ant-btn-primary:active {
  background-color: #066eb0;
  border-color: #066eb0;
  color: #ffffff;
}

.ant-btn-primary:disabled,
.ant-btn-primary[disabled]:hover {
  background-color: #1c91dc;
  border-color: #1c91dc;
  color: #ffffff;
  opacity: 0.5;
  cursor: default;
}

button.floating-button {
  background-color: #ffffff;
  border-color: #1c91dc;
  font-size: 14px;
  color: #1c91dc;
}

button.floating-button:hover {
  background-color: rgba(28, 145, 220, 0.05);
  border-color: #1c91dc;
  color: #1c91dc;
}

button.floating-button:active {
  background-color: rgba(28, 145, 220, 0.2);
  border-color: #1c91dc;
  color: #1c91dc;
}

button.floating-button:disabled,
button.floating-button[disabled]:hover {
  background-color: #ffffff;
  border-color: #1c91dc;
  color: #1c91dc;
  opacity: 0.5;
  cursor: default;
}

#measure-text {
  position: fixed;
  right: -100px;
  top: -100px;
  visibility: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  border: 1px solid #e8edf0;
  position: relative;
  height: 68px;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 530px;
}

.promptsContainer + .popup-footer {
  position: fixed;
}

.attribute-selector-window {
  user-select: none;
  -webkit-user-select: none;

  .popup-footer {
    min-width: 650px;
  }
}

.loading-spinner {
  position: fixed;
  align-items: center;
  justify-content: center;
  gap: 0 !important;
  left: 0;
  top: 57px;
  width: 100%;
  height: calc(100% - 125px); /* 125px = 57px (top distance) + 68px (button row height) */
}
