@import '~antd/dist/antd.css';
/* @import 'antd-override.less'; */

#root,
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}

*{
  font-family: 'Roboto', 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Helvetica Neue', sans-serif !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ant-popover .ant-popover-inner-content {
    min-width: 38px;
    max-width: none;
    padding: 8px;
    text-align: left;
    background-color: #404040;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    overflow-wrap: break-word;
}

.ant-popover-placement-bottom>.ant-popover-content>div.ant-popover-arrow,
.ant-popover-placement-bottomRight>.ant-popover-content>div.ant-popover-arrow,
.ant-popover-placement-topRight>.ant-popover-content>div.ant-popover-arrow,
.ant-popover-placement-topLeft>.ant-popover-content>div.ant-popover-arrow,
.ant-popover-placement-top>.ant-popover-content>div.ant-popover-arrow {
    border-color: #404040;
}

.hidden {
    display: none;
}

.ant-btn::after,
.ant-radio-checked::after {
    display: none;
}

.ant-switch .ant-click-animating-node {
    animation: none;
}

.ant-radio-input:focus+.ant-radio-inner {
    box-shadow: none;
}

.ant-btn:focus:not(.focus-visible),
.ant-input:focus:not(.focus-visible) {
    outline: none;
}

.ant-btn-primary.focus-visible {
    color: #fff
}

.ant-radio-input.focus-visible+.ant-radio-inner {
    outline: #5E9ED6 solid 3px;
    outline: -webkit-focus-ring-color auto 4px;
}

.js-focus-visible :focus:not(.focus-visible){
  outline: none;
}

.ant-btn {
    background-color: #FFFFFF;
    border-color: #D2D2D2;
    color: #444649;
    font-size: 14px;
    min-width: 92px;
}

.ant-btn:hover {
    background-color: #F3F3F3;
    border-color: #D2D2D2;
    color: #444649;
}

.ant-btn:active {
    background-color: #E3E5E5;
    border-color: #D2D2D2;
    color: #444649;
}

.ant-btn:disabled,
.ant-btn[disabled]:hover {
    background-color: #FFFFFF;
    border-color: #D2D2D2;
    color: #444649;
    opacity: 0.5;
    cursor: default;
}

.ant-btn-primary {
    background-color: #1C91DC;
    border-color: #1C91DC;
    color: #ffffff;
    font-size: 14px;
}

.ant-btn-primary:hover {
    background-color: #1384CC;
    border-color: #1384CC;
    color: #ffffff;
}

.ant-btn-primary:active {
    background-color: #066EB0;
    border-color: #066EB0;
    color: #ffffff;
}

.ant-btn-primary:disabled,
.ant-btn-primary[disabled]:hover {
    background-color: #1C91DC;
    border-color: #1C91DC;
    color: #ffffff;
    opacity: 0.5;
    cursor: default
}

button.floating-button {
    background-color: #FFFFFF;
    border-color: #1C91DC;
    font-size: 14px;
    color: #1C91DC;
}

button.floating-button:hover {
    background-color: rgba(28, 145, 220, 0.05);
    border-color: #1C91DC;
    color: #1C91DC;
}

button.floating-button:active {
    background-color: rgba(28, 145, 220, 0.20);
    border-color: #1C91DC;
    color: #1C91DC;
}

button.floating-button:disabled,
button.floating-button[disabled]:hover {
    background-color: #FFFFFF;
    border-color: #1C91DC;
    color: #1C91DC;
    opacity: 0.5;
    cursor: default
}

#measure-text {
    position: fixed;
    right: -100px;
    top: -100px;
    visibility: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
}

.popup-footer {
  border: 1px solid #E8EDF0;
  position: relative;
  height: 68px;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 530px;
}

.promptsContainer + .popup-footer {
  position: fixed;
}

.attribute-selector-window .popup-footer {
  min-width: 650px;
}
