.popup-buttons {
    padding: 14px;
    text-align: right;
}

.popup-buttons .ant-btn {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup-buttons .ant-btn:first-of-type {
    float: left;
}

.popup-buttons .ant-btn.ant-btn-primary {
    margin: 0 14px;
}