@import '~@mstr/rc/es/assets/scss/msdl_universal.scss';

.prompts-window {
  height: 100%;
  position: fixed;
  width: 100%;
  overflow: hidden;
  min-width: 100%;    
  overflow-x: auto;
}

.prompts-iframe {
  border-top: 1px solid $msdl-divider-gray_SOLID;
}

#popup-wrapper .prompts-window .empty  {
  position: fixed;
  left: 0;
  top: 57px;
  width: 100%;
  height: calc(100% - 125px);
}
