@import "~@mstr/rc/es/assets/scss/msdl_universal.scss";
@import "../popup/mixins.scss";

.prompts-window {
  height: 100%;
  position: fixed;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  overflow-x: auto;
}

.prompts-iframe {
  border-top: 1px solid $msdl-divider-gray_SOLID;
}

#popup-wrapper .prompts-window .mstr-rc-3-spinner {
  @include popup-loading-component;
}
