.loading-title {
    font-weight: bold;
    font-size: 18px;
    color: #444649;
    padding: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 120px;
}

.loading-dialog {
    position: fixed;
    top: 50%;
    color: #444A50;
    transform: translateY(-50%) translateY(-15px);
    border: none;
    text-align: center;
    width: 100%;
}