.mstr-notification {
  position: fixed;
  z-index: 1000;
  font-size: 14px;
  width: 100%;
  left: 0px;
  right: 0px;
}

.mstr-notification-notice {
  font-family: 'Roboto', sans-serif;
  color: #444A50;
  background: #FFFFFF;
  display: table;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 0 8px 0 rgba(81,81,81,0.50);
  padding: 23px 39px 23px 23px;
  position: relative;
  margin: auto;
  max-width: 90%;
  min-width: 360px;
}

.mstr-notification-notice:focus, .mstr-notification-notice button:focus {
  outline: none; 
  border-width: 1px;
  border-style: solid;
  border-color: #4D90FE;
  -webkit-box-shadow: 0px 0px 5px  #4D90FE;
  box-shadow: 0px 0px 5px  #4D90FE;
}

.mstr-notification-notice:not(:first-of-type) {
  margin-top: 16px;
}

.mstr-notification-notice-container {
  display: flex;
  justify-content: center;
}

.mstr-notification-notice-content {
  display: inline-flex;
  flex-direction: column;
  margin-left: 16px;
}

.mstr-notification-notice-text {
  text-align: left;
  line-height: 1.4em;
}

.mstr-notification-notice-icon {
  width: 26px;
}

.mstr-notification-notice-button-container {
  text-align: center;
  margin-top: 19px;
}

.mstr-notification-notice-expandable-container {
  margin-top: 19px;
}

.mstr-notification-notice-expandable-container-toggle {
  text-align: right;
  width: 100%;
  min-width: 360px;
}

.mstr-notification-notice-expandable-container-icon {
  vertical-align: middle;
}

.mstr-notification-notice-expandable-container-button {
  vertical-align: baseline;
  color: #1C91DC;
  font-size: 12px;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  padding: 2px;
}

.mstr-notification-notice-expandable-container-content {
  font-size: 12px;
  font-weight: 300;
  color: #606060;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
  max-height: 175px;
  overflow-y: auto;
  padding-right: 15px;
  margin-top: 10px;
  width: 0;
  min-width: 100%;
  word-break: break-word;
  word-wrap: break-word;
}

button.mstr-primary {
  font-family: 'Roboto', sans-serif;
  background: #1C91DC;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #D2D2D2;
  padding: 7px 35px;
  margin: 0px 5px 0px 5px;
  min-width: 115px;
}

button.mstr-default {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #444649;
  padding: 7px 35px;
  margin: 0px 5px 0px 5px;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  min-width: 115px;
}

.mstr-notification-notice-close {
  position: absolute;
  right: 5px;
  top: 3px;
  color: #000;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  text-decoration: none;
}
.mstr-notification-notice-close-x:after {
  content: '×';
}
.mstr-notification-notice-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
}
.mstr-notification-fade-enter {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.mstr-notification-fade-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.mstr-notification-fade-enter.mstr-notification-fade-enter-active {
  animation-name: rcNotificationFadeIn;
  animation-play-state: running;
}
.mstr-notification-fade-leave.mstr-notification-fade-leave-active {
  animation-name: rcDialogFadeOut;
  animation-play-state: running;
}

@keyframes rcNotificationFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rcDialogFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
