html,
body {
    font-family: 'Roboto', 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.cookie-check-container {
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    font-size: 13px;
    height: 100%;
    width: 100%;
    left: 50%;
    margin: auto;
    max-height: 590px;
    max-width: 360px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.cookie-check-container .title {
    color: #333;
    font-size: 22px;
    font-weight: normal;
    margin-top: 60px;
}

.cookie-check-container button.accept-button {
    -webkit-appearance: none;
    background-color: #1c91dc;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 36px;
    line-height: 34px;
    margin-top: 20px;
    margin: 10px auto;
    padding: 0 12px;
    text-align: center;
    width: 50%;
}

.cookie-check-container .accept-button a {
    -webkit-appearance: none;
    background-color: #1c91dc;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 36px;
    line-height: 34px;
    margin-top: 20px;
    margin: 10px auto;
    max-width: 100%;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

.cookie-check-container button.accept-button:focus,
.cookie-check-container .accept-button a:focus {
    background-color: #1f78b7;
}

.cookie-check-container button.accept-button:hover,
.cookie-check-container .accept-button a:hover {
    background-color: #45a1e0;
}

.accept-button a {
    text-decoration: none;
    color: #fff;
}

.cookie-check-container .title {
    margin-top: 20px;
    padding: 10%;
}

.mstr-office-addin-image-container {
    background-color: #fff;
    height: 160px;
    width: 100%;
}

.mstr-office-addin-logo {
    background: url(../assets/mstr_office_addin_logo.svg) 0 0 no-repeat;
    background-position-x: 50%;
    background-position-y: 20px;
    height: 100%;
    width: 100%;
}

#title{
  color: #4D5154;
  margin-top: 23px;
}