html,
body {
    font-family: 'Roboto', 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.cookie-check-container {
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    font-size: 13px;
    height: 100%;
    width: 100%;
    left: 50%;
    margin: auto;
    max-height: 590px;
    max-width: 360px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.cookie-check-container .title {
    color: #333;
    font-size: 22px;
    font-weight: normal;
    margin-top: 60px;
}

.cookie-check-container button.accept-button {
    -webkit-appearance: none;
    background-color: #1c91dc;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 36px;
    line-height: 34px;
    margin-top: 20px;
    margin: 10px auto;
    padding: 0 12px;
    text-align: center;
    width: 50%;
}

.cookie-check-container .accept-button a {
    -webkit-appearance: none;
    background-color: #1c91dc;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 36px;
    line-height: 34px;
    margin-top: 20px;
    margin: 10px auto;
    max-width: 100%;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

.cookie-check-container button.accept-button:focus,
.cookie-check-container .accept-button a:focus {
    background-color: #1f78b7;
}

.cookie-check-container button.accept-button:hover,
.cookie-check-container .accept-button a:hover {
    background-color: #45a1e0;
}

.accept-button a {
    text-decoration: none;
    color: #fff;
}

.cookie-check-container .title {
    margin-top: 20px;
    padding: 10%;
}

.mstr-office-addin-image-container {
    background-color: #fff;
    height: 160px;
    width: 100%;
}

.mstr-office-addin-logo {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAABkCAYAAADOmA9MAAAAAXNSR0IArs4c6QAAD0hJREFUeAHtXXl0VNUZ/+4s2SZhSdgJspREFquCoQhWZFMMlKWeA1U4bY+1tICC1Vosi5pa1FNLa61LS+3hnP6hHNAWhZqCoMb2HFEDgciesAmBQMBICJDJMnP7fZO8ycxk9nkz773J9ziceXf77nd/9/1y9+8K4IcRMDACcuJEy4lzdXc5HI5pAGIEFiVfCpmNv1ltxaoXUtTiewWAPGQ2m7cP6df1E1FS0tIWHtWPiCoVJ2IENERAjpybcqyxcrYEORskzMDfbpGoI0BcBgHv4+97Q1Pz3hMH326KJD3FZeJEihjH1wwBKaWozB/1AP6uASkHq6KIECeFEKvzKvZuwF8ZrkwmTrhIcTxNETieP2qKw+l4UUoYHQ9FhIAys8m8/FsVez8MR74pnEgchxHQCgFZVGSqyLv19y0Ox854kYbKRrIpD8qL8gxVXm5xQiHE4ZohUDl0bBcpGzZg/2l6IpVAUhQLkf5A3rHPrwTKl4kTCBn21xSBk8NuHdTc4izGlmC4Fopg1+2w1WKaPvjIvlP+8mfi+EOF/TRFwNXSQMNnWpFGKTyRR0D67f5anpB9OUUI/zICiUCAxheu7plGLY1nGYm4Ll38jHnMnhH5nRHQGoEFZy/jzJn8sdZ6eOSfV3vgqO2V2vM7PPx4HccTDH7XFoGK/FFTpcPh9YFqq1F77hazearnVDV31dqx4TcNEaDFTXA6fqehCkGzbl1DQh3bHveL4sG/jIAWCOD6yXzpdL4ZKO/0sQVgm3BHh2Bngx1qX13n9k+/fQzY7hzvdisvzusNUPva3xQnWG/IhebTVW53OC/CZFqQX7nvLYrLxAkHMY4TVwRo71lFY8WRYNtoshc9BD2eWNZBD8flOjheMMHtn73kp9Dj8aVut/LiqP0Gjn9nouKEnF8swa/fBF+/9KrbL+QLbs/JT80fRnvbuKsWEi2OEG8EaMNmMNLEK/+chxdCzmMPhy8e98e5dMUUTJzwYeOYcULAtcs5TrJDic15+GeQ8+jiUNHc4YquTBw3JPyiBQJ0noaOBmiRt5JnztJFkLNskeIM/kvHGFBnJk5wmDg0zgjQIbRIz9PEQ6WcZYshGwkU6iFdSWcmTiikODyuCDikvDeuGUQgvAd22bKXLAyZgk6bMnFCwsQR4oqAU2qyiTNQmbrOnxsoyMNfjGDieMDBr5ogkK9JrrFlms/EiQ1ATh0jAm2GNWKUktjkpDMTJ7GYc24dEVCs0XQM0a9PFhNHv5XDmukYASaOjiunk6hWb8By1jNxDFhryaRym7FAQxWJdGbiGKrKklJZtLBpuKeCiWO4Oks2heUh45VIHmLiGK/WkkpjsuVstAKRzkwco9VakunrMoBOtpwN8pDdadKZiWOQCktWNV23BqABdMOUj4y1400HTBzD1FjyKkq3BhildIquTByj1FgS60lXbQAeS9Z9EVFHl66oqCX35WNhX22g+4J1AgWrHh2adHYi6Aw/GutYjZZuAhrraNhbDrXr1neoYTLW4fk0lAWIh8Y6PJ+G0jL/8uqvekbzeqfrQJS7dAQTxwsb3TuSkTgEOpmHqsy7ZTdaz4zLNR6xVixdA5JXWV6g3KHDXbVYEeX0qiDg+iBN5idVERYHIXR3jkIaEs/EiQPILDI6BPIr9u5E22Vro0sdv1Skk6cVT8qJiRM/vFlyFAjkLZjzJA7iiqNIGpckpAvp5CucieOLCLs1RUAUFTnpUie6YkNTRTBz1zUfpAvq5KsLE8cXEXZrjgDdR0OXOmlJHsqbdPB3Nw4BxMTR/DNhBfwhQDeh0aVOWnTbKE/KO9BtbKQvE8dfrbGfLhCgv/Z5P7xvZiInDCgvyjNQS6MAw+s4ChIG+U3WdZxQ8NPdOXQNSLzWebBrVgY4HU4ze6F0oXBuccJBieNojgB90K4FSLxqQ9XtObiNBluZBSQ7XNIQGEwczT8JViBcBGgBku6noas2TMI0D91v0jb/cNMr8SgNpSUZJItkei5uKvGC/XJXLRg6OgzrrF21QFVBBtDJlrPLlG6rVdD8Nlttitmp+ja7BnhEWx6iQ2iuM0B4NCCQzHD8LeFE4jiMgF4RcJ3nAfgQ9aP/4T0qWDkQuLmOd0eHB7dXrG2nYvqD5SUrEkfhYCvOlvKjNQI8xtG6Bjh/QyJgmfdujV/FN83p5fIPFO43EXp2lnSBys/+nQMBbnE6Rz1zKVVGgCcHVAD0bH0TfHCsHs7VN7uk9cuywt1DsiC3a4oK0llEpAjkbjqTbqpunomD95twQHigZ1rav/f8vN/1SOUEi8/ECYZOmGHry76G03VN7tinLje63M9M7OvyW7jlK3dYpC9vzBoYaZJOHT/3L2f6Q3Vj1ei+aXXjcjPS95xvuF5+wd6A/mOqFg84qxY4TBwVkOyVafEiDonsaWuHlj9+FUAOQ8Rt685lXHXaS5+9uxfMG57VtTVJ95RNh+u7/XJHTRW2RBlV8wZ4Gx8IQ66/KO216y+U/cJCYFiPNLhjQBbUXGvtqvXKsMIle+t7WAI4kioIXLTbvzc2NzUdSQMv7qqF9eV18JNbusLycdmw4cCVurLqppmY0SY1MrMos2CBhIUK76zpPMtdZ3fCxv010D3d7PL+psEB9wzt4o4STleNWyU3XFG/0JimoG96Bgkg0lxrcrp+iTiublt1000YpA5xotaSE3ogIGH5nX3A4WhdS7aYBXx5vr1HwKTwgCqOrzQR8GkV2YvqnkItjdLiUJY01qFwtbIPuY5zuNYRUV7Ds1v/6iZ7Ok9QuqaZ4U+fXoAmJ56wlQKsJgGzh3fzjMLvCUDA2de6dU91Qxcc07i6Z9TS0EPu8guNDTS7dlolPXiMowKQdw3MgjtvyII6uwMk/uuWZgHkjvsJp6vmjtz2wq2ULyKh3TTwx9mz3Kc/uVT6zuH6dOq2UQtEZIKU1DFHVZySZuKEro+wYhBRlDGObwImgS8i8XPTlDPOrg397Kx98Wdn7Hl4XOAj6Ju6Va3ZNEVz3jmgIMG/SYMALXbi7uUsPNV5/vSjQzapTRoCilucBHwugbpq3BIlAPw4ZcHEiROwnmKZIJ5oJMd7yHUcZZYs0uIme7pI8eD4yYUAj3GSqz65NAlCgNdxolynSlD9cDY6RYDHOCpUDB8rUAFEg4lg4qhQYXysQAUQDSaCiaNChfGxAhVANJgIJo4KFcbHClQA0WAimDgqVBgfK1ABRIOJ4HWctt3csdUbHyuIDT/jpeYWR4U642MFAIV/rkytrT8xwSlgOjhlIZ5MsqBx9GJhksW2PqklJQ9O8r5XXQXctRTB6zgqrON01mMF49d+OLDF7ihEW83TL9afmIx3rtvwVEX7I+VS6YCl1841NRQ8t+0jtOFcLFLhP1/8atrJ9kjGfOMWR6V66wzHCuZuOpjy1fGq70qnmA7gLGyyN49wwedJFj94opXldPSegWeVZshGgILnth9BkhULYSoelNf/f2/PG9luIshPej16MXH0WCs606ng+Q9m4Yf+4KnKM1PQ0jjeAhCCKaH0l3IYRhkmpfPxkxVVV5FIO4WE9aWrp20NlVQv4UycBNSE0Y8VCOlchoSZEiNdAiAtM5GHczAwE/8zcQKg1Cm9jX+sQKABhfjQxv1BCMrDOA/vjjZOXWmmKY5R4v5RYx7dNStgFBnzOo4q6zhRIG+gJHhuv1u8r1HC6wUNRRxucQz0AWulKnbS2q0rRqGE2WSSS6fceH5k/27vB0wuZJvJ2oAxdBXA6zgqrOOoWaN7q69D70wr0I0HunmkbDWWF4VCKRYTvPD9W8WE/J59fnT7oOlPbdn/0bb95yb7isLJh6jz8JWVCDe3OIlAOYw89py7DkUfV8PrpRdh97lrYaTQf5Q0qxn+OG80IGkUZcVvZ317cpc0q2FmzxTFfX95OtoXkQS7iTBbj9YBHYZTHuzvK6/6+MVBDq7jRKSLLdUCL/1gNIwa4D10OXK+3l7f2DLeVxhm0W4z2DdQh24mjkaV4o8wGqkSOlsp6aN2GTP3jbxkUj4MzM6AZ7bsB3tzq7nkLulWeOX+22BEP+9hy4GzdfDIht1WnGjI8ZWD090XOvrp14eJk+C6oQuo6MSoZwvjq8LRr3E/5FFf31b3DS8fL/IfEj9fefVEg5AOH+IIWFE4Au4bnevKuLstBR7bWAY0pnltfgHk9cINBh5P2elvXOHXm1r8jmVahNWiZtlw/9xE3BtX4qGCqq9MHFXhTE5hTpO1xuxweLUSabbMw0ga2jrj6ldSl+z1BWPAlmKGgTk2LyB2nbgEy9/Z526RvALbHA6z5bw//2j9iDROE/wz2vSh0qGl0Ag7r6EkdpLwbadaYippsK7arBu7wcwbvbs5SmaFg60JHwDhXrWV4HQ+p+jQ+iuuvnDfLZ9PHd57ire/t6vkaA2s3FwOzQ68ySHYI8RDu1dNWx8sip7CeFZNo9q4rV8GFE3qC4sKekL/LJ1fsivllo4wycxVm8vv+G9lzcWOYa0+2w9Ww4p/hUUaKdJgRyA5evQXczdf8DtdotzEluz33ERbvlhbHN+PwbMFotaGWh1/jxYtDukxZs32CjwWkOerE86GNa+ZfXPtPSP79PYMe2/fWXi++CCeafP7eXlGxfNusKt01b0dZtq8IunMwWMcnVQItUD0fy/e5Nbb4+JdnaiHIxm5Dvd5rvXVB3v61tXvfplTUXNl4yOT8mdgeObG0tPwhx105CY0aUge9j3/6itX724mjs5qaFQfOvOlv8fWL/U1PMn5GJKhv6922BJZ/vHpybnbDlSvKRiUM+f9L8/e7BsnkBtbm1MZ41PfChSuV38e4+i1ZnSmV5vNgGeDqGW6cMX+dCSkwT6aBJNlYcmkSbHNtARRKl5BTJx4IZuEcmesvOfv+LF/rFbRsLV5uXTF1J1qyUukHCZOItE2eF5FQjiFNWU+da9iLQpuKyrvkTnk17HK0So9r+NohXyU+eIsVsLXcXxVHffCtqEtTlHib7zjG9efG4uw25aaUljyxKRL/sKN4MctjhFqSWc67lpx7zGLtIxFAuyJWDXs6qVYbJONTBoqs+Z/vSIGnhPoBgEyQoj21J5ChZbj3HPQA0TYNbODCX5jG5ey1oiTAb6gM3F8EWF3xAiMe377sBYJq3CH8wO4dOO7idOJLdNmIcwrv1g5tSJi4TpNwMTRacUYUS2y7Nnc2DIf13Xuxw+rC0jxjjCZ30gmwij18n80hEYnFyAiUwAAAABJRU5ErkJggg==) 0 0 no-repeat;
    background-position-x: 50%;
    background-position-y: 50px;
    height: 100%;
    width: 100%;
}