.frame {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  line-height: 26px;
}

.icon {
  max-height: 18px;
  max-width: 18px;
  margin-right: 2px;
}

.text{
  font-size: 10px;
  color: #9A9A9A;
  letter-spacing: 0.06px;
  margin-left: 2px;
}