.dossier-window-information-frame {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  line-height: 26px;
}

.dossier-window-information-icon {
  max-height: 18px;
  max-width: 18px;
}

.dossier-window-information-text{
  font-size: 10px;
  color: #9A9A9A;
  letter-spacing: 0.06px;
  margin-left: 4px;
}