.side-panel {
  height: 100%;
  display: flex;
  flex-direction: column;

  .object-tile-container {
    overflow-y: hidden;
  }

  .object-name {
    width: 100%;
    text-overflow: ellipsis;
  }  

}

.import-data {
  height: 100%;
  overflow-y: auto;
  padding: 40px 40px 0;

  .mstr-rc-tooltip-source {
    display: block
  }
}

.import-data::after {
  content: '';
  display: block;
  padding-bottom: 15px;
}

.block-side-panel-ui {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: #ffffff;
  z-index: 1;
}
