#content {
  display: flex;
  flex-direction: column;
}

#content-header {
  background: #d9232f;
  color: #fff;
  width: 100%;
  text-align: center;
}

#content-main {
  background: #fff;
}

.padding {
  padding: 15px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 2px;
}

.grid-item{
  font-size: 16px;
  padding: 2px 10px 2px 10px;
}

.grid-item-2{
  grid-column: span 2;

}
.button-submit{
  padding: 10px;
  background-color: #d9232f;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 26px;
}
.button-submit:hover{
  background-color: #971c24;
}