#content {
  display: flex;
  flex-direction: column;
}

#content-header {
  background: #313435;
  display: flex;
  color: #fff;
  width: 100%;
  text-align: center;
}

#content-main {
  background: #fff;
}

.header {
  font-size: 18px;
  text-align: left;
  align-items: center;
  padding: 4px 0px 0px 0px;
}

.header-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
}

.padding {
  padding: 15px;
}

.grid-container{
  display: flex;
  flex-direction: column;
  grid-template-columns: auto;
  grid-row-gap: 2px;
}

.grid-item{
  font-size: 18px;
}

.grid-item-label{
  color: #28333D;
  margin-bottom: 5px;
  margin-left: 2px;
  font-size: 14px;
  font-weight: 200;
  /* padding: 10px; */
}

.grid-item-input{
  border-color: #E3E2E2;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  padding: 5px 0px 5px 0px;
  margin-bottom: 20px;
}

.grid-item-2{
  grid-column: span 2;
}

.authenticate-message{
  padding: 10px 0px 0px 15px;
  font-size: 18px;
  font-weight: 200;
}

.button-submit{
  padding: 10px;
  background-color: #1983D9;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

.button-submit:hover{
  background-color: rgb(14, 83, 139);
}

