.menu-bar-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  padding-top: 3px;
  background-color: #eeeeee;
}

button.menu {
  border: none;
  border-radius: 5px;
  color: #323435;
  border-color: #e3e2e2;
  background-color: #eeeeee;
}

button.menu:hover {
  color: #1983d9;
}

.menu-bar-nav-container {
  justify-content: right;
}

.menu-bar-options-container {
  justify-content: left;
}

button.menu-nav {
  padding: 5px 10px 5px 10px;
  font-weight: 400;
  font-size: 20px;
}

button.menu-options {
  padding: 7px 10px 8px 10px;
  font-weight: 400;
  font-size: 16px;
}

.with-tooltip {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  font-size: 16px;
  transition: 0s;
  width: 120px;
  background-color: #313435;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip.right {
  left: 120%;
}

.tooltip.left {
  right: 110%;
}

button.menu:hover .tooltip.right {
  visibility: visible;
  transition-delay: 1s;
}

button.menu:hover .tooltip.left {
  visibility: visible;
  transition-delay: 1s;
}
