.menu-bar-container{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    padding-top: 3px;
    background-color: #EEEEEE;
  }
  
  .menu-button{
    border: none;
    border-radius: 5px;
    color: #323435;
    border-color: #E3E2E2;
    background-color: #EEEEEE;
  }
  
  .menu-button div:hover{
    color:#1983D9; 
  }
  
  .menu-bar-nav-container{
    justify-content: right;
  }
  
  .menu-bar-options-container{
    justify-content: left;
  }
  
  .menu-button-nav{
    padding: 5px 10px 5px 10px;
    font-weight: 400;
    font-size: 20px;
  }
  
  .menu-button-options{
    padding: 7px 10px 8px 10px;
    font-weight: 400;
    font-size: 16px;
  }
  
  .button-with-tooltip{
    position: relative;
    display: inline-block;
  }
  
  .button-tooltip-right{
    visibility: hidden;
    font-size: 16px;
    transition: 0s;
    width: 120px;
    background-color: #313435;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;  
  }
  
  .button-tooltip-left{
    visibility: hidden;
    font-size: 16px;
    transition: 0s;
    width: 120px;
    background-color: #313435;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;  
  }
  
  .menu-button:hover .button-tooltip-right{
    visibility: visible;
    transition-delay:1s;
  }
  
  .menu-button:hover .button-tooltip-left{
    visibility: visible;
    transition-delay:1s;
  }