.project-row-container {
    display: grid;
    list-style-type: none;
    margin: 0px;
}

.cursor-is-pointer{
    cursor: pointer;
}

.cursor-is-pointer:hover{
    cursor: pointer;
    background-color: #F1F1F1;
}

.project-row{
    padding: 10px 0px 10px 40px;
}

.projects-header{
    font-size: 24;
    margin-left: 30px;
    color: #75808B;
}

.projects-mstr-object{
    font-size: 24px;
    font-weight: 400;
}