.popup-buttons {
    padding: 19px 20px;
    text-align: right;
    background-color: #fff;
}

.popup-buttons .mstr-rc-button,
.popup-buttons .mstr-rc-button .button-tooltip {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup-buttons #back {
    float: left;
    margin-left: 0;
}

.popup-buttons .mstr-rc-button {
    margin-left: 14px;
    vertical-align: top;
}

.mstr-rc-button:disabled {
    opacity: 0.5;
}

.mstr-rc-tooltip-source {
    display: inline;
}

#data-preview:focus:not(:hover) {
    background-color: white;
}

.hidden {
    visibility: hidden;
}

.popup-buttons .ant-btn.ant-btn-primary[disabled], .ant-btn.ant-btn-primary[disabled]:hover {
    color: #ffffff;
    background: #1C91DC;
    border: 1px solid #1C91DC;
 }

 .popup-buttons span .mstr-rc-button {
     margin-left: 0 !important;
 }

 .popup-buttons>span {
    margin-left: 14px;
 }

 #root .button-tooltip[style='display: inline-block; cursor: not-allowed;'] {
    cursor: default !important;
 }

.ant-popover-inner-content {
    max-width: 100%;
 }

.dossier-iframe,
.library-iframe {
  position: relative;
  top: 0;
  left: 0;
  max-height: calc(100vh - 145px);
  min-width: 530px;
}

.dossier-iframe {
    min-height: calc(100vh - 145px);
}

.library-iframe {
    min-height: calc(100vh - 125px);
}

 @media (max-width: 530px) {
  .dossier-window .popup-buttons,
  .library-window .popup-buttons {
    margin-bottom: 15px;
  }

  .dossier-window,
  .library-window {
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .dossier-iframe,
  .library-iframe {
    min-height: calc(100vh - 160px);
    max-height: calc(100vh - 160px);
  }
}
