.mstrd-PromptEditorContainer-overlay {
  background: transparent !important;
}
.mstrd-PromptEditor {
  width: 100% !important;
  margin-left: 0px !important;
  top: 0 !important;
  left: 0 !important;
}

#mstrdossierPromptEditor {
  top: 0 !important;
}

.icon-close {
  display: none !important;
}
.mstrPromptEditorButtons {
  display: none !important;
}
.mstrmojo-VIDocument {
  display: none !important;
}
#ExpressionFormValues1Popup1 {
  top: 30px !important;
}
