.navigation_tree__main_wrapper {
  height: calc(100% - 125px);
}

.navigation_tree__title_bar {
  font-size: 18px;
  color: #333333;
  margin: 15px;
}

.navigation_tree__table_wrapper {
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  height: 100%;
  border: 2px dotted black
}

.ReactVirtualized__Table__rowColumn.radio > input {
  margin-left: 2px;
}

.top-filter-panel {
  display: block;
  width: 289px; /* change to 385px when showing My Library switch */
  float: right;
}

.top-filter-panel > div {
  float: left;
}

.top-filter-panel .search-field,
.top-filter-panel .refresh-button-container {
  font-size: 0px;
}

.top-filter-panel .refresh-button-container {
  margin: -5px 20px 0 25px;
}

.top-filter-panel .mstr-switch-container span {
    position: relative;
    top: -1px;
}

.top-filter-panel .panel-wrapper {
  z-index: 2;
  padding-top: 3px;
}

.top-filter-panel .filter-button {
  padding-top: 3px;
}

.top-filter-panel .search-field {
  margin-left: 30px;
  width: 180px;
}

.top-filter-panel .search-field__input {
  height: 26px;
  width: 100%;
  box-sizing: border-box;
} 

.top-filter-panel .mstr-switch-container {
  display: none;
}

.filter-panel input[id=Dossier],
.filter-panel label[for=Dossier] {
  display: none;
}

.filter-panel .category-list-wrapper:nth-child(3) {
  margin-top: 0px;
}