$footer-height: 50px;
$title-height: 40px;

.data-overview-wrapper {
  margin: 20px;
  user-select: none;
  -webkit-user-select: none;

  .data-overview-container {
    width: 100%;
    height: calc(100vh - $title-height - $footer-height);
  }

  .overview-close-button {
    float: right;
    margin-top: 20px;
  }
}

.mstr-rc-3-grid-with-filter__filter-panel {
    &--unpinned {
      max-height: calc(100% - 40px);
      min-height: calc(80% - 40px);
      position: absolute;
    }
  
    &--hidden {
      display: none;
    }
  }