li.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span.file-text {
    width: 75%;
}

span.file-icons {
    width: 20%;
    flex-direction: row;
    justify-content: space-around;
}

button.add-data-btn {
    border-radius: 4px;
    max-width: 70%;
    height: 25px;
    margin-bottom: 16px;
}


button.add-data-btn:focus {
    background: rgba(28, 145, 220, 0.05);
    border: 1px solid #1C91DC;
    border-radius: 4px;
    color: #1C91DC;
}

button.add-data-btn:focus {
    background: rgba(28, 145, 220, 0.20);
}

.ant-btn.refresh-all-btn,
.ant-btn.refresh-all-btn:hover,
.ant-btn.refresh-all-btn:focus,
.refresh-all-btn .ant-btn {
    float: right;
    background: #FFFFFF;
    box-shadow: 0 0;
    height: 25px;
    border: none;
    margin-bottom: 16px;
    font-size: 12px;
    color: #1C91DC;
    padding: 1px;
    margin-right: 41px;
}

.refresh-all-btn .mstr-icon,
.refresh-all-btn img {
    margin-right: 5px;
    vertical-align: sub;
}

.refresh-all-label {
    vertical-align: text-top;
}

.file-history-container {
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    margin-bottom: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.file-history-container:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.50);
}

.file-history-container:focus {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
    outline: 1px solid #1C91DC;
}

.report-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mstr-icon.edit,
.mstr-icon.refresh,
.mstr-icon.trash {
    cursor: pointer;
    display: inline-flex;
}

.loading-button-container>img {
    vertical-align: baseline;
    position: relative;
    left: 2px;
}

.ant-input.rename-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 18px;
    padding: 1px;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
}

.rename-container {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    color: rgba(0, 0, 0, 0.65);
    border: none;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
}

.ant-dropdown-trigger {
    height: 21px;
}

.ant-input.rename-input:focus,
.ant-input.rename-input:hover {
    box-shadow: none;
    transition: .3s;
    font-size: 13px;
    font-weight: 400;
}

.rename-container:hover {
    background-color: #EBEBEB;
    transition: background-color .4s;
}

.ant-dropdown .ant-dropdown-menu-item {
    width: 156px;
    padding: 4px 22px;
    line-height: 20px;
}

.ant-dropdown .ant-dropdown-menu-item:hover {
    background-color: #e9eaea;
}

.additional-data {
    padding: 0 2px;
    font-size: 12px;
    color: #888888;
}

.secured-screen-container {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 60px;
    left: 0;
    padding: 130px 30px 0 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
}

.secured-header,
.secured-info {
    color: #4D5154;
    background: rgba(255, 255, 255, 0.5);
}

.secured-header {
    padding: 20px 0;
    font-size: 20px;
    font-weight: 500;
}

.secured-info {
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
}

.show-data-btn {
    width: 125px;
}