$primary-blue: #1c91dc;

%border-thin-primary-color {
  border: 1px solid $primary-blue;
}

%icon-position {
  color: $primary-blue;
  float: right;
  background: #fff;
  box-shadow: 0 0;
  border: none;
  margin-top: 16px;
  margin-right: 49px;
}

.refresh-button-container {
  width: 100%;
  button.ant-btn {
    &.add-data-btn {
      border-radius: 4px;
      max-width: 70%;
      height: 25px;
      margin: 10px 0px 10px 10px;
      &:focus {
        @extend %border-thin-primary-color;
        color: $primary-blue;
        background: rgba(28, 145, 220, 0.2);
      }
    }
  }
  .refresh-all-btn {
    @extend %icon-position;
    .mstr-icon-refresh-all {
      &:focus {
        @extend %border-thin-primary-color;
        color: $primary-blue;
        background: rgba(28, 145, 220, 0.2);
      }
    }
  }
  .spinner-all-icon {
    @extend %icon-position;
    &:focus {
      @extend %border-thin-primary-color;
      color: $primary-blue;
      background: rgba(28, 145, 220, 0.2);
    }
  }
}

.ant-input {
  &.rename-input {
    appearance: none;
    height: 18px;
    padding: 1px;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;

    &:focus,
    &:hover {
      box-shadow: none;
      transition: 0.3s;
      font-size: 13px;
      font-weight: 400;
    }
  }
}

.ant-dropdown-trigger {
  position: relative;
  max-width: calc(100% - 20px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-dropdown {
  .ant-dropdown-menu-item {
    min-width: 156px;
    padding: 4px 22px;
    line-height: 20px;

    &:hover {
      background-color: #e9eaea;
    }
  }
}

.ant-popover {
  .ant-popover-inner-content {
    text-align: left;
  }
}

.additional-data {
  padding: 0 4px;
  font-size: 12px;
  color: #888;
  user-select: none;
}

.loading-button-container #report-loading-icon {
  position: relative;
  right: 2px;
  margin-right: 2px;
}

.refresh-icons-row .additional-data-wrapper svg {
  position: relative;
  top: 2.5px;
  margin-top: 0;
}

.clear-data-inactive {
  color: rgba(0, 0, 0, 0.5);
}

.file-history-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 5px 10px 10px 10px;
  padding: 16px 16px 16px 16px;
  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  }

  &:focus {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    @extend %border-thin-primary-color;
  }
}

li {
  &.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.loading-button-container {
  & > img {
    vertical-align: baseline;
    position: relative;
    left: 2px;
  }
}

.mstr-icon {
  &.edit,
  &.refresh,
  &.reprompt,
  &.trash {
    cursor: pointer;
    display: inline-flex;
  }
}

.object-icons {
  & > * {
    margin-left: 10px;
    &:last-child {
      margin-left: 12px;
    }
  }
}

.object-name {
  width: 100%;
}

.object-title-row {
  display: flex;
  flex-direction: row;
  height: 25px;

  img {
    height: 18px;
  }
}

.icon-align {
  position: relative;
  max-width: 14px;
  max-height: 13px;
  margin-bottom: -16px;
}

.report-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.refresh-icons-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;

  & > span {
    align-items: center;
  }
}

span {
  &.file-text {
    width: 75%;
  }

  &.file-icons {
    width: 20%;
    flex-direction: row;
    justify-content: space-around;
  }
}

.rename-container {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  color: rgba(0, 0, 0, 0.65);
  border: none;
  background-color: #fff;
  max-width: 90%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  cursor: default;
  user-select: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;

  &:hover {
    background-color: #ebebeb;
    transition: background-color 0.4s;
  }
}

.rename-popover-width {
  max-width: 280px;
  word-wrap: break-word;
}

.secured-screen-container {
  z-index: 10;
  height: calc(100% - 60px);
  overflow-y: auto;
  width: 100vw;
  position: absolute;
  left: 0;
  padding: 130px 30px 0 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}

%secured-shared {
  color: #4d5154;
  background: rgba(255, 255, 255, 0.5);
}

.secured-header {
  @extend %secured-shared;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
}

.secured-info {
  @extend %secured-shared;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
}

.show-data-btn {
  width: auto;
}

.tables-container {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 50px);
}

.visualization-path-row {
  font-family: HelveticaNeue;
  font-size: 10px;
  color: #444649;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

#app-header {
  .user-name {
    padding-left: 13px;
    padding-right: 13px;
    line-height: 32px;
  }
}
