
li.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span.file-text {
    width: 75%;
}

span.file-icons{
    width: 20%;
    flex-direction: row;
    justify-content: space-around;
}

.add-data-btn {
    background: #FFFFFF;
    border: 1px solid #1C91DC;
    border-radius: 4px;
    width: 88px;
    height: 25px;
    margin-bottom: 16px;
    margin-left: 14px;
    font-size: 12px;
    color: #1C91DC;
}

.add-data-btn:hover {
    background: rgba(28,145,220,0.05);
    border: 1px solid #1C91DC;
    border-radius: 4px;
    color: #1C91DC;
}

.add-data-btn:focus {
    background: rgba(28,145,220,0.20);
    border: 1px solid #1C91DC;
    border-radius: 4px;
    color: #1C91DC;
}

.cursor-is-pointer {
    height: 74px;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
    border-radius: 2px;
    margin: 0 10px 10px;
    padding-top: 16px;
}

.report-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mstr-icon.refresh, .mstr-icon.trash {
    cursor: pointer;
}