div.component-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  z-index: 1;
}

div.component-wrapper {
  background: rgba(255,255,255, 1);
  z-index: 2;
  box-shadow: 0 0 4px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  div.title {
    font-size: 12px;
    color: #444649;
    letter-spacing: 0;
    line-height: 16px;
    padding: 16px;
    width: 273px;
  }

  div.divider {
    border: 1px solid #E9E9E9;
  }

  div.ant-radio-group.ant-radio-group-outline {
    padding: 20px 0 20px 31px;
    width: 100%;
    label.ant-radio-wrapper {
      display: block;
    }
  }
  
  div.buttons-row {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    .ant-btn {
      margin: 0 5px;
    }
  }
}