.ant-message {
    top: 50% !important;
    transform: translateY(-50%);
}

.ant-message-notice {
    width: 100vw;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.ant-message-notice-content {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%)
}

.ant-message-custom-content {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 85px;
}

.ant-notification {
    pointer-events: none;
    top: 50% !important;
    width: 100vw !important;
    transform: translateY(-50%);
}

.ant-notification-notice-message {
    display: none;
}

.ant-notification-notice {
    padding: 12px;
    max-width: 80%;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    flex: 1 0 auto;
    pointer-events: all;
}

.error-notification {
  min-width: 330px;
  margin-right: 16px;
}

.error__header {
  margin-bottom: 5px;
}

.error__nav {
  text-align: right;
}

.error__section {
  width: 234px;
  margin-top: 3px;
  font-size: 12px;
}

.error-notification .ant-notification-notice-content .ant-notification-notice-description {
  margin-left: 34px;
}

.error-notification.ant-notification-notice {
  padding: 28px 17px 28px 24px;
}

.error-notification .ant-btn {
  width: 89px;
  height: 30px;
}

.error-notification .ant-notification-notice-btn {
  margin: 5px 37% 0 35%;
}

.error__show-more,
.error__show-less {
  font-family: Roboto;
  cursor: pointer;
  color: #1C91DC;
  display: inline-block;
}

.error__arrow {
  transform: rotate(-45deg);
  border-bottom: 1px solid #3492ED;
  border-left: 1px  solid #3492ED;
  width: 5px;
  height: 5px;
  margin-left: 6.4px;
  margin-bottom: 2px;
  display: inline-block;
  transition: 0.2s all;
  transform-origin: 2px 3px;
}

.error__show-less .error__arrow {
  transform: rotate(135deg);
}

.error__text-hidden {
  max-height: 0;
}

.error__text {
  transition: 0.3s all ease-in-out;
  color: #606060;
  width: 255px;
}

.error__text-shown {
  max-height: 176px;
  overflow: auto;
  margin-bottom: 24px;
}

.error__message {
  margin: 0;
  word-wrap: break-word;
  width: 234px;
}

.ant-notification>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
}


.ant-notification-notice-with-icon .ant-notification-notice-description {
    margin: -26px 0 0 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-notification-notice-with-icon {
    width: 100%;
    align-items: center;
}

.ant-notification-notice-icon {
    font-size: 18px;
    margin-top: 5px;
}

.ant-notification-notice-btn {
    margin: 5px 45% 0 45%;
}

.ant-notification-notice-close {
    display: none;
}

.ant-message-notice.move-up-leave.move-up-leave-active {
    overflow: hidden;
    -webkit-animation-name: MessageMoveOut;
    animation-name: MessageMoveOut;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes MessageMoveOut {
    0% {
        max-height: 150px;
        opacity: 1;
    }

    100% {
        max-height: 0;
        opacity: 0;
    }
}

@keyframes MessageMoveOut {
    0% {
        max-height: 150px;
        opacity: 1;
    }

    100% {
        max-height: 0;
        opacity: 0;
    }
}

@keyframes antMoveUpIn {
    0% {
        max-height: 0;
        opacity: 0;
    }

    100% {
        max-height: 150px;
        opacity: 1;
    }
}

@keyframes NotificationFadeIn {
    0% {
        max-height: 0;
        opacity: 0;
    }

    100% {
        max-height: 150px;
        opacity: 1;
    }

}