.popup-buttons {
    padding: 14px 20px;
    text-align: right;
    background-color: #fff;
}

.popup-buttons .ant-btn {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup-buttons #back {
    float: left;
    margin-left: 0;
}

.popup-buttons .ant-btn {
    margin-left: 14px;
}

.ant-btn:disabled {
    opacity: 0.5;
}

#data-preview:focus:not(:hover) {
    background-color: white;
}
