.popup-buttons {
    padding: 19px 20px;
    text-align: right;
    background-color: #fff;
}

.popup-buttons .ant-btn .button-tooltip {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup-buttons #back {
    float: left;
    margin-left: 0;
}

.popup-buttons .ant-btn {
    margin-left: 14px;
}

.ant-btn:disabled {
    opacity: 0.5;
}

#data-preview:focus:not(:hover) {
    background-color: white;
}

.hidden {
    visibility: hidden;
}

.ant-btn.ant-btn-primary[disabled], .ant-btn.ant-btn-primary[disabled]:hover {
    color: #ffffff;
    background: #1C91DC;
    border: 1px solid #1C91DC;
    border-radius: 4px;
 }
 
 .ant-btn[disabled], .ant-btn[disabled]:hover {
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    color: #444649;
    cursor: default;
 }

 span .ant-btn {
     margin-left: 0 !important;
 }

 .popup-buttons>span {
    margin-left: 14px;
 }

 #popup .button-tooltip[style='display: inline-block; cursor: not-allowed;'] {
    cursor: default !important;
 }

.ant-popover-inner-content {
    max-width: 100%;

 }

 .ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow {
     border-color: #404040;
 }