.library-window {
  height: 100%;
  position: fixed;
  width: 100%;
  overflow: hidden;
  min-width: 100%;    
  overflow-x: auto;
}

.library-window .title-bar {
  min-width: 500px;
  margin: 15px;
}

.library-window .title-bar>span {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}

.library-iframe {
  border-top: 1px solid #EBEBEB;
}

#popup-wrapper .library-window .empty  {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.library-window .popup-footer {
  position: relative;
}