.dossier-window-information-frame {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  line-height: 26px;
}

.dossier-window-information-icon,
.preview-info-icon svg {
  max-height: 16px;
  max-width: 16px;
}

.dossier-window-information-text {
  font-size: 11px;
  color: #9A9A9A;
  margin-left: 4px;
}

.dossier-title-margin-top {
  margin-top: 10px;
}

.dossier-window .title-bar {
  min-width: 500px;
  margin: 20px 15px 10px 15px;
}

.dossier-window .title-bar>span {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}

#popup-wrapper .dossier-window .empty  {
  position: fixed;
  left: 0;
  top: 57px;
  width: 100%;
  height: calc(100% - 125px);
}