.grid-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto;
  grid-row-gap: 2px;
}

#authenticate-message {
  padding: 10px 0px 0px 15px;
  font-size: 18px;
  font-weight: 200;
}

.ant-form.login-form {
  padding: 15px;
}

.login-form-button {
  width: 50vw;
}

.centered-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-form-item-children .ant-checkbox-inner:after {
  top: 50%;
  left: 21%;
}
