@import '~antd/dist/antd.css';
hr {
    margin-left: 20px;
    margin-right: 20px;
    color: #75808B;
}

.padding {
    padding: 15px;
}

#content {
    display: flex;
    flex-direction: column;
}

#app-header {
    display: flex;
    color: #555;
    font-size: 16px;
    line-height: 32px;
    width: 100%;
    padding: 20px;
}

#app-header .header-name {
    padding-left: 13px;
    font-family: 'HelveticaNeue-medium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#app-header img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#app-main {
    background: #fff;
}

#header {
    font-size: 18px;
    text-align: left;
    align-items: center;
    padding: 4px 0px 0px 0px;
}

#header-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
}

.get-started-container {
    text-align: center;
    padding: 60px 40px;
    color: #4D5154;
}

.get-started-container h2 {
    color: #4D5154;
    font-family: 'HelveticaNeue-medium';
    font-size: 20px;
    padding: 24px 0;
}

.get-started-container p {
    padding-bottom: 40px;
    margin: 0;
    font-size: 14px;
    font-family: 'HelveticaNeue-light';
}

.ant-tabs.tabs-container .ant-tabs-nav .ant-tabs-tab {
    margin: 0 6px;
    padding: 12px 6px;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    color: #888888;
}

.ant-tabs.tabs-container .ant-tabs-nav .ant-tabs-tab:hover {
    color: #444649;
}

.ant-tabs.tabs-container .ant-tabs-tab.ant-tabs-tab-active {
    color: #444649;
}

.tabs-container .ant-tabs-ink-bar {
    height: 1.5px;
    background-color: #1c91dc;
}

.tabs-container .ant-tabs-bar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

#logOut {
    font-family: 'HelveticaNeue';
    color: #888;
    font-size: 12px;
    margin-left: auto;
    vertical-align: middle;
    flex: auto 0 0;
    align-self: center;
}
