hr {
  margin-left: 20px;
  margin-right: 20px;
  color: #75808B;
}

.padding {
  padding: 15px;
}

#content {
  display: flex;
  flex-direction: column;
}

#app-header {
  display: flex;
  justify-content: space-between;
  color: #555;
  font-size: 16px;
  line-height: 31px;
  width: 100%;
  padding: 20px 27px 19px 20px;
  align-items: center;
}

#overlay {
  min-height: 100%;
  animation: fadein 1.5s;
}

#app-header .mstr-logo img {
  height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: 50%;
  display: table-cell;
}

#app-header #initials,
#app-header #profile-image {
  height: 28px;
  width: 28px;
  line-height: 28px;
  border-radius: 50%;
  font-size: 13px;
  background: #e4e4e4;
  color: white;
  text-align: center;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app-main {
  background: #fff;
}

#header {
  font-size: 18px;
  text-align: left;
  align-items: center;
  padding: 4px 0px 0px 0px;
}

#header-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
}

.get-started-container {
  text-align: center;
  padding: 40px 40px 10px 40px;
  color: #4D5154;
}

.get-started-container h2 {
  color: #4D5154;
  font-weight: 500;
  font-size: 20px;
  padding: 24px 0;
}

.get-started-container p {
  padding-bottom: 40px;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.tabs {
  position: relative;
  overflow: hidden;
  zoom: 1;
  height: calc(100vh - 72px);
}

.tab-content {
  display: flex;
  flex-direction: row;
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: margin-left;
  height: calc(100% - 50px);
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.tab-content .tabpane {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.45s;
}

.tab-container {
  height: 44px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 5px 0;
  border-bottom: 1px solid #e8e8e8;
}

.tabs-nav {
  margin-left: 10px;
  margin-bottom: -6px;
  border-bottom: 2px solid #1c91dc;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.tab-header {
  color: #444649;
  padding: 12px 6px 8px 6px;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dialog-container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.dialog-container dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 16px;
  border-radius: 4px;
  background-color: #fff;
  width: 70%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
}

.dialog-container svg {
  height: 24px;
  width: 24px;
  margin: 0 auto 12px auto;
  display: block;
}

/* application header buttons */

#app-header .settings-btn,
#app-header .settings-btn .ant-btn:disabled {
  vertical-align: middle;
  align-self: center;
  background: #FFFFFF;
  box-shadow: none;
  border: none;
  padding: 0;
}

#app-header .settings-btn,
#app-header .settings-btn .ant-btn:disabled {
  margin-left: 15px;
}

#app-header .mstr-icon.settings svg {
  max-width: 22px;
  max-height: 22px;
}

.header-buttons {
  position: relative;
}

#app-header .mstr-logo #profileImage img {
  position: absolute;
  top: 24.8px;
}

#settings-button{
  min-width: inherit;
  left: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.block-ui {
  position: fixed;
  width: 100%;
  height: 1000px;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #ffffff;
  z-index: 1000;
}

.block-all-ui {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-container {
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translate(-50%);
  width: 330px;
  height: auto;
  padding: 37px 20px 38px 20px;
  border: 1px solid #ffffff;
  box-shadow: 1px 2px 8px 0 #b7b7b7;
  border-radius: 2px;
  background-color: #ffffff;
  z-index: 1001;
}

.confirm-header-icon img {
  position: relative;
  bottom: 1px;
  width: 19px;
  height: 18px;
}

.confirm-header,
.confirm-message {
  vertical-align: top;
  display: inline-block;
}

.confirm-header {
  width: 19px;
  line-height: 16px;
}

.confirm-message {
  width: calc(100% - 19px);
  padding-left: 17px;
}

.confirm-message-title {
  padding-bottom: 20px;
  color: #444649;
  font-size: 14px;
  color: #444649;
  letter-spacing: 0;
  line-height: 16px;
}

.confirm-message-title span {
  font-weight: 500;
}

.confirm-message-text {
  color: rgba(0, 0, 0, 0.65);
  padding-bottom: 30px;
  padding-right: 18px;
  font-size: 12px;
  font-weight: 300;
  color: #606060;
  letter-spacing: 0;
  line-height: 16px;
}

.confirm-message-text span {
  font-weight: 500;
}

.confirm-buttons {
  text-align: center;
}

.confirm-buttons button {
  width: 90px;
  height: 30px;
}

.confirm-buttons button:first-child {
  margin-right: 10px;
}